<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HobbyMapper">

    <select id="getHobbyTag" resultType="pojo.HobbyTag">
      select `id`, `name`, `type` from c_hobby_tag
    </select>

    <select id="getMembersByHobbyId" resultType="java.lang.Integer">
        select user_id from c_user_hobby
        <where>
            <foreach collection="hobbyId" item="i" separator="or">
                `hobby` = #{i}
            </foreach>
        </where>
    </select>

    <select id="getTopicByHobby" resultType="pojo.Topic">
        select `id`, `title`, `desc` from c_hobby_topic
        <where>
            <foreach collection="hobbyId" item="i" separator="or">
                `hobby_id` = #{i}
            </foreach>
        </where>
    </select>

    <select id="getHobbyByUserId" resultType="pojo.HobbyTag">
        select ch.`id`, ch.`name`, ch.`type` from c_user_hobby cuh, c_hobby_tag ch
        where ch.`id` = cuh.`hobby_id`
        and cuh.`user_id` = #{param1}
    </select>

</mapper>