<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="login" resultType="User">
        select u.`id`,u.`username`,u.`password`,u.`nickname`,u.`realname`,d.`value` as role
        from c_user u, c_dict d
        where u.role_id = d.id and username = #{param1}
    </select>

    <insert id="register" parameterType="User">
        insert into c_user(`username`,`password`,`nickname`,`realname`,`role_id`)
        value(#{username},#{password},#{nickname},#{realname},2)
    </insert>

</mapper>